<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header navbar-left" id="navbar-title">
        <h1><a class="navbar-brand navbar-text" href="/">MongoDB Tools</a></h2>
        <i class="navbar-text">a guide to some interesting tools for working with mongodb</i>
    </div>
    <button href="#submit-modal" type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#submit-modal" role="button"><span class="glyphicon glyphicon-plus"></span></button>
    <div id="submit-modal" class="modal fade" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Have a tool to submit?</h4>
          </div>
          <div class="modal-body">
            <p>MongoDB Tools is open source!</p>
            <p>If you've written a tool (or just know of a really good one) please submit a pull request with a new markdown file containing all of the data needed.</p>
            <p>Seen some data that's out of date?  Do the same!</p>
            <p>You can find the repo here: <a href="http://github.com/IanWhalen/mongodb-tools.com">github.com/IanWhalen/mongodb-tools.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </nav>

{% if include.homenav == "true" %}
  <nav class="controls just">
    {% for attr in site.data.attr %}
     <div class="control drop_down wf">
      <span class="anim150">{{ attr.name }}</span>
       <ul class="anim250">
        <li class="active" data-filter="all">All</li>
        {% for i in attr.values %}
        <li data-filter=".{{ i | languageHandle }}">{{ i }}</li>
        {% endfor %}
       </ul>
     </div>
    {% endfor %}
    <div class="control drop_down wf">
      <span class="anim150">Compatibility</span>
      <ul class="anim250">
        <li class="active" data-filter="all">All</li>
        <li data-filter=".linux">Linux</li>
        <li data-filter=".windows">Windows</li>
        <li data-filter=".apple">OS X</li>
        <li data-filter=".2_2">MongoDB 2.2</li>
        <li data-filter=".2_4">MongoDB 2.4</li>
        <li data-filter=".2_6">MongoDB 2.6</li>
        <li data-filter=".3_0">MongoDB 3.0</li>
        <li data-filter=".3_2">MongoDB 3.2</li>
        <li data-filter=".full">MongoDB Enterprise</li>
      </ul>
    </div>
  </nav>
{% endif %}
</header>