{% capture page_title %}
{% if page.title %}{{ page.title }}{% else %}{{ site.name }} | {{page.purpose}} | {{ page.name }}{% endif%}
{% endcapture %}
{% capture page_description %}
{% if page.description %}{{ page.name}}: {{ page.description }}{% else %}{{ site.description }}{% endif %}
{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title | escape | strip_newlines }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page_description | escape | strip_newlines | truncate: 150, '...' }}">
    <meta name="author" content="Ian Whalen">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page_title | escape | strip_newlines }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style> body { padding-top: 30px; } </style>

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40426944-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="container page">
        <div class="content">
          {{ content }}
        </div>

        <footer class="footer">
          <hr>
          <p style="text-align: center;">This website is not endorsed by <strong>MongoDB, Inc.</strong> in any way.</p>
          <p style="text-align: center;">Suggestions, questions, protestations?  Email me (<a href="http://ianwhalen.com">Ian Whalen</a>) at (ian dot whalen) at (gmail dot com).</p>
          <p style="text-align: center;">This site is hosted on <a href="https://www.digitalocean.com/?refcode=6d93055f767a">Digital Ocean</a>.  I'd recommend it.</p>
        </footer>
    </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
  </body>
</html>