---
layout: default
---

{% include header.html %}

<div itemscope itemtype="http://schema.org/SoftwareApplication">
  <h1 itemprop="name">{{ page.name }}</h1>
  
  <div class="google-plus-one">
    <div class="g-plusone" data-size="tall" data-annotation="none" data-width="200"></div>
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>

  {% if page.github_repo %}
  &nbsp;&nbsp;
  <iframe src="https://ghbtns.com/github-btn.html?user={{ page.github_user }}&repo={{ page.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" allowtransparency="true" frameborder="0" scrolling="0" style="width: 100px; height: 20px"></iframe>

  <iframe src="http://ghbtns.com/github-btn.html?user={{ page.github_user }}&repo={{ page.github_repo }}&type=watch&count=true&v=2" allowtransparency="true" frameborder="0" scrolling="0" style="width:100px; height: 20px"></iframe>
  {% endif %}

  <div class="toolinfo">

      {% if page.img %}
        <p><a itemprop="url" href="{{ page.officialUrl }}" target="_blank"><img align="left" src="/img/{{ page.img }}" width="370" height="200" style="padding-right:10px"></a>
      {% else %}
        <p><a itemprop="url" href="{{ page.officialUrl }}" target="_blank"><div class="detail-no-image">
            <i class="fa fa-cogs" style="font-size: 180px; color: #dddfe3;"></i>
        </div></a>
      {% endif %}


      {% if page.description %}
        <p itemprop="description">{{ page.description }}</p>
      {% endif %}

     <blockquote>
      {% if page.purpose %}
        <p>Purpose: <strong>{{page.purpose}}</strong>
      {% endif %}
      {% if page.maintained %}
        <p>Maintenance status: <strong>{{page.maintained}}</strong>
      {% endif %}
      {% if page.minimum_mongodb_version %}
        <p>Minimum MongoDB version: <strong>{{page.minimum_mongodb_version}}</strong>
      {% endif %}
      {% if page.mongodb_versions %}
        <p class="mongodb_version">Supported MongoDB versions:
          {% for version in page.mongodb_versions %}
            <strong>{{version}}</strong>
          {% endfor %}
      {% endif %}
      {% if page.mongodb_enterprise_support %}
        <p>MongoDB Enterprise support: <strong>{{page.mongodb_enterprise_support}}</strong>
      {% endif %}
      {% if page.license %}
        <p>License: <strong>{{page.license}}</strong>
      {% endif %}
      {% if page.language && page.language != "Unknown" %}
        <p>Language: <strong>{{page.language}}</strong>
      {% endif %}
      {% if page.environments %}
        <p>Platforms:
          {% for env in page.environments %}
            <i class="fa fa-{{ env }}"></i>
          {% endfor %}
      {% endif %}
      <p><a itemprop="url" href="{{ page.officialUrl }}">Developer's Site</a></p>
    </blockquote>
      <hr>
      {% if page.latest_release_date and page.latest_release_version %}
      <p>The most recent known version of {{ page.name }} is <strong itemprop="softwareVersion">{{ page.latest_release_version' }}</strong> - it was released <strong itemprop="datePublished" content="{{ page.latest_release_date }}">{{ page.latest_release_date | timeago }}</strong>.</p>
      {% endif %}

      {% if page.github_repo and page.github_latest_commit_date %}
      <p>The last known commit to {{ page.name }} was <strong>{{ page.github_latest_commit_date | timeago }}</strong>.</p>
      {% endif %}
    
    {% if page.content != '' %}
    <p><b>Our take: </b>{{ page.content }}</p>
    {% endif %}
    
    <!--   {% if page.language != 'Unknown' %}
      <a href="/language/{{ tool['Language']|dasherize() }}">Find More <strong itemprop="applicationCategory">{{ tool['Language']}}</strong> Tools Here</a><br>
      {% endif %} -->
    <!--   <a href="/purpose/{{ tool['Purpose']|dasherize() }}">Find More <strong itemprop="applicationCategory">{{ tool['Purpose']}}</strong> Tools Here</a><br> -->
  </div>
</div>

<p><i>This page is a work in progress.  Please bear with me while I bring it up to speed.  In the meantime, feel free to leave your thoughts on this tool in the comments below.  Or, if you are the developer of this tool, please let me know of any updated information I should have.</i>

<hr>

<div id="disqus_thread"></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'mongodb-tools'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
